body{
    background-image: url(banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 29%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 42%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  .main-content{
      width: 100%;
     
  }
  .main{
      padding: 0 0 0 100px ;
  }

  .coming{
    font-size: 50px;
    color: #fb6801;
    font-family: 'Heebo', sans-serif;
  }
  .soon{
    font-size: 61px;
    margin-top: -60px;
    color: #fb6801;
    font-family: 'Heebo', sans-serif;
  }
  h5{
      font-size: 20px;
      margin-top: -50px;
      color: #006b4d;
  }
  .time-border{
      border: 2px solid #006b4d;
      width: 50px;
      height: 50px;
      padding: 0px 1px;
      border-radius: 50%;
      font-size: 25px;
      color: #006b4d;
  }
  .time-border p{
    margin-top: 11px;
    margin-left: 9px;
  }
  .time-content{
      display: flex;
  }
  .time-box{
      margin-left: 20px;
  }
  .time-buttom-text{
      margin-left: 8px;
      color: #f86d1a;
      font-family: 'Oswald', sans-serif;
  }
   .form-data input{
    width: 25%;
    /* height: 25px; */
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid rgb(194, 191, 191);
    padding: 10px;
    font-size: 18px;
  }   
  .form-data label{
      margin-top: 5px;
  }
  .form-data button{
      border: none;
      background-color: #0069d9;
      width: 100px;
      height: 40px;
      border-radius: 4px;
      margin-top: 10px;
      color: #fff;
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
  }
  input:focus {
    outline: none;
  }
  .name-mobile{
      margin-top: 10px;
  }
  @media only screen and (max-width: 600px) {
    .form-data input{
        width: 80%;
      } 
      .main-content{
          height: 700px;
      }
      .main{
        padding: 0 0 0 20px ;
    }
  }